.no-support-message { display:none; }
.impress-not-supported .no-support-message { display:block; }

/* additional styles just to make things look a bit nicer */
body { background:#EBEBEB; font:16px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color:#333; }
.step { width:1280px; margin:0 auto 24px auto; text-align:left; font-size: 36px}

div#thank-you img{
  min-height:120%;
  min-width:120%;
  height:auto;
  width:auto;
  position:absolute;
  top:-110%; bottom:-110%;
  left:-110%; right:-110%;
  margin:auto;
}


div#me img{
  position:absolute;
  top: 10%; right:10%;
}

div#interface img{
  position:absolute;
  top: -10%;
  right:-10%;
  width: 75%;
  border: 3px solid #CCC;
  box-shadow: 10px 10px 5px #888888;
}

div#interface2 img {
  border: 3px solid #CCC;
  box-shadow: 10px 10px 5px #888888;
}

div#interface3 img {
  border: 3px solid #CCC;
  box-shadow: 10px 10px 5px #888888;
}

div#interface4 img {
  border: 3px solid #CCC;
  box-shadow: 10px 10px 5px #888888;
}

div#pandas-concept img{
  position:absolute;
  top: 30%;
  right: -5%;
  width: 75%;
  border: 3px solid #CCC;
  box-shadow: 10px 10px 5px #888888;
}
